.callout {
    margin: 0 0 1rem 0;
    padding: 0.5em 1em 0.2em 1em;
    border-inline-start: .25em solid;
}

.callout-note {
    border-color: rgb(26, 28, 129);
    background: #d7e4ff
}

.callout-note-title {
    font-weight: 600;
    color: #1e3d7e;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.callout-summary {
    /* border-color: rgb(134, 41, 41); */
    /* background: #f5d0d0 */
    border-color: rgb(67, 106, 32);
    background: #e5efe1
}

.callout-summary-title {
    font-weight: 600;
    /* color: #9d3030; */
    color: #2b4f1d;
    margin-bottom: 1em;
    margin-top: 0.5em;
}


.callout-warning {
    border-color: #ffaa00;
    background: #fff4c6;
}

code {
    font-size: 1rem;
    font-weight: 500;
}

.svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: -1rem;
    width: 80%;
}