@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}

/* (default) dark theme overrides */
:root {
    /* --bg-color: #1f1f21; */
    /* --bg-color: #1c1c1f; */
    --bg-color: #1f1f1c;
    --headshot-color: rgb(65, 65, 65); 
    --text-color: #eeeeee;
    /* --link-color: #f3c76e; */
    /* --link-color: #f2dc9c; */
    /* --link-color: #98c4ff; */
    /* --link-color: #90f7b6; */
    /* --link-color: #ae73f1; */
    --link-color: #b2a6f6;
    /* --link-color: #6bb3ff; */
    --nav-item-hover-color: #5a38a0;
    /* --link-color: #8aeeaf; */
    /* --title-color: #1d70ff; */
    /* --title-color: #31e3ff; */
    /* --title-color: #12dfff; */
    --title-color: #d9d9d9;
    /* --title-color: #b47800; */
    --h1-color: #dfdfdf;
    --h4-color: #dfdfdf;
    --nav-item-color: #dadada;
    --subtitle-color: #d9d9d9;
    --author-color: #d9d9d9;
    --role-color: var(--subtitle-color);
    --footer-color: var(--nav-item-color);
    --social-color: rgb(223, 223, 223);
    --meta-font-color: #d9d9d9;
    /* --category-color: rgb(255, 84, 84); */
    /* --category-color: rgb(255, 155, 155); */
    --category-color: rgb(192, 192, 192);
    /* --nav-item-hover-color: #d500b9; */
    /* --nav-item-hover-color: #2970cc; */
    /* --nav-item-hover-color: #518bee; */
    /* --nav-item-hover-color: #246b46; */
    /* --nav-item-hover-color: #ac7300; */
    --pop-filter: invert(0.93);
    /* --callout-note-color: #23262f; */
    /* --callout-note-color: #303139; */
    --callout-note-color: #212b44;
    --callout-note-border-color: rgb(180, 180, 180);
    --callout-note-title-color: #d9d9d9;
    --code-color: #f954e3;
    --callout-summary-color: #222721;
    --callout-summary-title-color: var(--callout-note-title-color);
    --callout-summary-border-color:  var(--callout-note-border-color);
}
/* light theme overrides*/
[data-theme="light"] {
    --bg-color: #fafafa;
    --headshot-color: rgb(90, 90, 90); 
    --text-color: #0e0e0f;
    --link-color: #0073cb;
    --title-color: #212123;
    --h1-color: #353438;
    --h4-color: var(--title-color);
    --nav-item-color: #868686;
    --subtitle-color: #1a1a1a;
    --author-color: #353535;
    --role-color: #151515;
    --footer-color: #6c6c6c;
    --social-color: rgb(13, 52, 81);
    --meta-font-color: #737373;
    --category-color: #966;
    --nav-item-hover-color: #00376f;
    --pop-filter: invert(0);
    --callout-note-color: #d7e4ff;
    --callout-note-border-color: rgb(26, 28, 129);
    --callout-note-title-color: rgb(6, 8, 81);
    --callout-summary-color: #e5efe1;
    --callout-summary-title-color: #2b4f1d;
    --callout-summary-border-color:  rgb(67, 106, 32);
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    /* padding: 0.5rem; */
}

:root {
    --menu-font: "League Spartan";
    --title-font: "League Spartan";
    --title-weight: 500;
    --subtitle-font: "League Spartan";
    --heading-font: "League Spartan";
    --content-font: "Inter";
    --content-font-size: 1.15rem;
    --author-font: "Metropolis";
    --role-font: "Metropolis";
    --description-font: "Inter";
    --description-font-size: var(--content-font-size);
    --line-height: 1.4;
    --header-font-size: calc(1.6rem + 0.3vw);

  }

#sun {
    color: var(--text-color);
    /* transition: transform 0.1s ease-in-out; */
}
#sun:hover {
    color: #ffebb1;
}

#moon:hover {
    fill: rgb(29, 29, 29);
}

a {
    color: var(--link-color);
}

a:visited,
a:link
{
    text-decoration: none;
}

a:hover
{
    color: var(--nav-item-hover-color);
}

@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/metropolis/Metropolis-Regular.woff") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/metropolis/Metropolis-RegularItalic.woff") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/metropolis/Metropolis-RegularItalic.woff") format("opentype");
    font-style: oblique;
    font-weight: 400;
}

@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/metropolis/Metropolis-Light.woff") format("opentype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/metropolis/Metropolis-ExtraLight.woff") format("opentype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/metropolis/Metropolis-LightItalic.woff") format("opentype");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/metropolis/Metropolis-SemiBold.woff") format("opentype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Metropolis';
    src: url("/fonts/metropolis/Metropolis-Bold.woff") format("opentype");
    font-style: normal;
    font-weight: 600;
}


body
{
    /* font-family:  "Roboto Flex", 'Montserrat', 'Roboto', 'Lato', 'Nunito' sans-serif; */
    width: auto;
    margin: 0;
    background-color: var(--bg-color);
    /* transition: background-color 0.3s ease, color 0.3s ease; */
    padding: 0 0 2vh 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}


html
{
    scrollbar-gutter: stable; /*This is needed to prevent viewport from resizing when scrollbar appears*/
    position: relative;
    height: 100%;
    min-height: 100%;
    margin: 0;
}
li
{
    text-align: left;
}


@media screen and (max-width: 250px) {
    .author
    {
        font-size: 1.5rem;
    }
}

.author
{
    font-family: var(--author-font), sans-serif;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 5px;
    /* margin-bottom: 10px; */
    color: var(--author-color);
    font-weight: 500;
    font-size: 1.5rem;
}
.author h1,
.author h2,
.author h3,
.author h4,
.author h5,
.author h6,
.author p
{
    font-family: 'Lato', sans-serif;
}

blockquote {
    text-align: center;
    /* margin: 1em; */
    padding-left: 2rem;
    padding-right: 2rem;
}

.category
{
    color: var(--category-color) !important;
}

.container
{
    /* overflow: auto; */
    padding: 0 15px;
    max-width: 800px;
    /* min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto; */
}

.outer-container {
    /* min-height: 91vh; */
    /* display: grid; */
    display: flex;
    width: 100%;
    height: 100%;
    /* grid-template-rows: 1fr auto; */
}
.middle-container
{
    /* overflow: auto; */
    padding: 0 25px;
    max-width: 900px;
    flex-basis: 50%;
    flex-grow: 1;
    /* min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto; */
}

.left-container {
    flex-basis: 25%;
    flex-grow: 1;
}

.right-container {
    flex-basis: 25%;
    flex-grow: 1;
    /* align-items: end; */
    justify-content: left;
    display: flex;
    position: relative;
    overflow: hidden;
}
@media (max-width: 1400px) {
    .left-container, .right-container {
        flex-basis: 20%;
    }
    .middle-container {
        flex-basis: 60%;
        flex-grow: 1;
    }
}
@media (max-width: 1200px) {
    .left-container, .right-container {
        flex-basis: 15%;
    }
    .middle-container {
        flex-basis: 70%;
        flex-grow: 1;
    }
}
@media (max-width: 800px) {
    .left-container, .right-container {
        flex-basis: 10%;
    }
    .middle-container {
        flex-basis: 80%;
        flex-grow: 1;
    }
}
@media (max-width: 576px) {
    .left-container, .right-container {
        flex-basis: 0%;
    }
    .middle-container {
        flex-basis: 100%;
        flex-grow: 1;
    }
}


.content
{
    margin-top: 10px;
    margin-bottom: 20px;
}
div.content
{
    font-family: var(--content-font);
    font-weight: 300;
    font-size: var(--content-font-size);
    line-height: var(--line-height);
    color: var(--text-color);
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

.katex {
    color: #2e2e2e;
    /* color: #252b32; */
    /* color: #2d4132; */
    /* color: #122e1a;  */
}

@media screen and (max-width: 250px) {
    .description
    {
        font-size: 1rem;
    }
}

.description
{
    font-family: var(--description-font), sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
    color: var(--text-color);
    line-height: var(--line-height);
}

.description-container {
    min-height: 00px;
    text-align: justify;
}

.error
{
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
}
.error h1
{
    font-size: 80px;
    color: var(--meta-font-color);
}
.error p
{
    margin-top: 150px;
    color: #777;
}
.excerpt
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #555;
    margin-bottom: 20px;
}

.matrix-icon {
    width: 45px;
    height: 45px;
    fill: green;
}

.fab,
.fas,
.fa-brands,
.matrix-icon {
    font-size: 35px;
}

.footer
{
    margin-top: 2rem;
    color: var(--meta-font-color);
    /* background-color: #eeeeee; */
}

.footnotes{
    margin-top: 4rem;
}

.header
{
    margin-top: 6%;
    margin-bottom: 4%;
}

.headshot
{
    box-shadow: 0px 0px 10px var(--headshot-color);
    width: 300px;
    max-width: 95%;
}
h1 {
    margin-top: 2rem;
    color: var(--h1-color);
    font-family: var(--heading-font);
    font-size: var(--header-font-size);
}
.info
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.intro
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #777;
}
h3.intro
{
    margin-top: 0px
}

.hr-bottom {
    overflow: auto;
    max-width: min(60%, 500px);
    margin-right: auto;
    margin-left: auto;
}

#list-pane > ul {
    padding-left: 0px;
}

.list
{
    font-family: 'Lato', sans-serif;
    margin-top: 00px;
}
.list li
{
    list-style: none;
}
.list-entry
{
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 450;

    margin-top: 10px;
    margin-bottom: 20px;
}
.list-entry-link
{
    font-family: 'Lato', sans-serif;
    padding: 0;
}

main {
    height: 100%;
}

.main-menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}

#main-menu-div
{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.manifesto > a {
    font-family: "Lato", "sans-serif";
    color:var(--footer-color);
    font-size: 0.9em;
}

.crypto > a {
    color:var(--footer-color);
    font-size: 0.9rem;
}

.menu
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-item
{
    font-family: var(--menu-font), sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    text-transform: lowercase;
    /* letter-spacing: 0.065rem; */
    color: #868686;
}

.nav-link:hover
{
    color: var(--nav-item-hover-color);
}

.meta
{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: var(--meta-font-color);
}
a.meta
{
    font-size: 16px;
    color: var(--category-color);
}
h6.meta
{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 200;

    color: var(--meta-font-color);
}
section.meta {
    margin-top: 0px;
}

.nav-item {
    font-family: var(--menu-font), sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    text-transform: lowercase;
}

.nav-link {
    color: var(--nav-item-color);
}

.nav-item.top {
    display: flex;
}

#head-toggle-button {
    min-height: 52px;
    display: flex;
	align-items: center;
}

#head-toggle-button > .navbar-toggler {
    box-shadow: none;
}

#head-navbar {
    /* 
    position: sticky;
    top: 0; 
    z-index: 1000;
    */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-color);
}

.container-fluid {
    padding: 0;
}

#theme-toggle-container {
    position: absolute;
    right: 20px;
}

.copyright, .powered
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0 10px;
    color: var(--footer-color);
}

.social {
    margin-top: 30px;
    margin-bottom: 10px;
    
}

#social-pane {
    text-align: center;
    
}

.social a
{
    /* color: rgb(7, 63, 105); */
    color: var(--social-color);
    opacity: 100%;
}

.subtitle {
    font-family: var(--subtitle-font);
    color: var(--subtitle-color);
    font-weight: 300;
    font-style: italic;
    font-size: 1.8rem;
}

.pop {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 2px;
    /* filter: var(--pop-filter); */
    /* background-clip: content-box; */
    background-color: rgb(246, 246, 246);
}

.title
{
    font-family: var(--title-font), sans-serif;
    font-weight: var(--title-weight);
    /* font-variant: small-caps; */
    color: var(--title-color);
    font-size: 2.6rem;
    /* color: #494949; */
    /* text-transform: uppercase; */
}
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 330px) {
  .title {
    font-size: 2rem;
  }
}

header.title
{
    margin-top: 70px;
}
@media (max-width: 990px)
{
    .header
    {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .list
    {
        font-family: 'Lato', sans-serif;
        margin-top: 30px;
    }
}
pre > code {
  white-space: pre;
  word-wrap: initial;
  word-break: initial;
}


.text-center.social {
  font-size: 30px;
}

.role {
    font-family: var(--role-font), sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: var(--role-color);
    /* margin-bottom: 10px; */
}

.row {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.synopsis {
  hyphens: auto;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: justify
}

h2, .h2 {
  color:rgb(87, 87, 87)
}

h4, .h4 {
    font-family: "Roboto Flex", "sans-serif";
    color: var(--h4-color);
    font-weight: 700;
    font-variant: small-caps;
    font-size: 1.5rem;
}

.divider {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.svg-container {
    width: 100%; /* Use 90% of viewport width */
    max-width: 1000px; /* Increased max size for scaling up the display */
    height: auto;
    /* Set a background here for the <img> method to show the black lines */
    /* background-color: white;  */
    /* padding: 20px; */
    border-radius: 8px;
    /* z-index: 1; */
    max-width: 800px;
    /* padding: 0 15px; */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: right;
}
#wavy-art {
    position: absolute;
    /* width: 95%; */
    height: 95%;
    transition: transform 0.6s ease-in-out;
    
}
/* New CSS rule for scaling the image on hover */
#wavy-art:hover {
    transform: scale(1.05); /* Scales the image up by 5% */
    /* cursor: zoom-in; */
    /* transition: transform 0.6s ease-in-out;  */
}

.callout {
    margin: 0 0 1rem 0;
    padding: 0.5em 1em 0.2em 1em;
    border-inline-start: .25em solid;
}

.callout-note {
    border-color: var(--callout-note-border-color);
    background: var(--callout-note-color);
    border-radius: 7px;
    padding-left: 1.5rem;
}

html[data-theme="dark"] .callout-note {
    /* border: 2px solid rgb(179, 179, 179); */
}

.callout-note-title {
    font-weight: 600;
    color:  var(--callout-note-title-color);
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.callout-summary {
    /* border-color: rgb(134, 41, 41); */
    /* background: #f5d0d0 */
    border-radius: 7px;
    border-color: var(--callout-summary-border-color);
    background: var(--callout-summary-color);
}

.callout-summary-title {
    font-weight: 600;
    /* color: #9d3030; */
    color: var(--callout-summary-title-color);
    margin-bottom: 1em;
    margin-top: 0.5em;
}


.callout-warning {
    border-color: #ffaa00;
    background: #fff4c6;
}

code {
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--code-color);
}

.svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
}

body {
  opacity: 0;
  visibility: hidden;
}

body.loaded {
  opacity: 1;
  visibility: visible;
}